/web/assetic
/web/bower/
/web/bundles/
/web/css/min
/web/images/assetic/*
/web/js/min/
/web/js/translations/
/web/cdn/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters_dev.yml
/app/config/parameters_test.yml
/app/config/parameters_prod.yml
/src/Acme/*
symfony
nbproject/*
.idea/*
*~
.buildpath
.project
.settings/
composer.lock
composer.phar
*__MACOSX*
output
output/*
